<!DOCTYPE html>
<html>
<head>
    <title>Period Tracker</title>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css' rel='stylesheet' />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js'></script>
</head>
<body>
    <h1>Period Tracker</h1>

    <form method="post" action="/">
        Last period start date: <input type="date" name="start_date"><br>
        <input type="submit" value="Track">
    </form>

    <div id='calendar'></div>

    <script>
    $(document).ready(function() {
        var events = {{ events | tojson | safe }};
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            editable: true,
            events: events,
            dayClick: function(date, jsEvent, view) {
                alert('Clicked on: ' + date.format());
            }
        });
    });
    </script>

    <!-- Chat Interface -->
    <h2>Chat with our Bot</h2>
    <form id="chatForm">
        <textarea name="message" id="message"></textarea>
        <button type="submit">Send</button>
    </form>
    <div id="chatResponse"></div>

    <script>
    document.getElementById('chatForm').onsubmit = function(event) {
        event.preventDefault();
        var message = document.getElementById('message').value;
        fetch('/chat', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ message: message }),
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById('chatResponse').innerText = data.response;
        })
        .catch(error => {
            document.getElementById('chatResponse').innerText = 'Error: Could not retrieve response';
        });
    };
    </script>

</body>
</html>
